.nav{
    
    padding: 10px 0;
    box-shadow: 0 2px  rgba(0,0,0,0.2);
}
.logo{
    height: 50px;
}
.ul{
    color: blue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.h1{
    font-size: 50px;
    color: blue;
    margin: 0;
}
.DivG{
    display: flex;
    justify-content: space-around;
}
.div1{
    
    
    max-width: 450px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    
}
.div2{
    max-width: 450px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.div3{
    max-width: 450px;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.divImg  {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
